<footer id="footer">
  <nav role="navigation" class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target=".navbar-collapse-bottom" class="navbar-toggle" onclick="$('html, body').animate({scrollTop: $(document).height()}, 'slow')"><i class="fa fa-bars"></i></button>
        <a href="http://proturkers.com" class="navbar-brand">&copy; 2015 <span class="hidden-xs">ProTurkers.com</span> </a>
      </div>
      <div class="navbar-collapse navbar-collapse-bottom collapse">
        <ul class="nav navbar-nav navbar-right">
			<li><a href="mailto:admin@proturkers.com?Subject=Requesting%20Ownership%20of%20a%20Script&Body=Script%20URL%3A%0AProTurkers%20Username%3A%0AProof%20of%20Ownership%3A%0A">Requester Ownership of a Script</a></li>
             <li><a href="/about/Terms-of-Service">Terms of Service</a></li>
          <li><a href="/about/Privacy-Policy">Privacy Policy</a></li>

        </ul>
      </div>
    </div>
  </nav>
</footer>

<!-- JS -->
<script type="text/javascript" charset="UTF-8" src="/redist/npm/jquery/dist/jquery.js"></script>
<script type="text/javascript" charset="UTF-8" src="/redist/npm/bootstrap/dist/js/bootstrap.js"></script>
{{> includes/scripts/hideReminders.html }}

